@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 65% 11%;
    --foreground: 225 67% 88%;
    
    --card: 217 33% 17%;
    --card-foreground: 225 67% 88%;

    --popover: 212 65% 11%;
    --popover-foreground: 225 67% 88%;

    --primary: 167 100% 70%;
    --primary-foreground: 212 65% 11%;

    --secondary: 217 33% 25%;
    --secondary-foreground: 225 67% 88%;

    --muted: 217 33% 25%;
    --muted-foreground: 225 30% 70%;

    --accent: 217 33% 25%;
    --accent-foreground: 167 100% 70%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 167 100% 70%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 212 65% 11%;
    --foreground: 225 67% 88%;
    
    --card: 217 33% 17%;
    --card-foreground: 225 67% 88%;

    --popover: 212 65% 11%;
    --popover-foreground: 225 67% 88%;

    --primary: 167 100% 70%;
    --primary-foreground: 212 65% 11%;

    --secondary: 217 33% 25%;
    --secondary-foreground: 225 67% 88%;

    --muted: 217 33% 25%;
    --muted-foreground: 225 30% 70%;

    --accent: 217 33% 25%;
    --accent-foreground: 167 100% 70%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 167 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body), sans-serif;
  }
  
  /* Custom scrollbar for kiosk mode */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
